*.iml
.classpath
.gradle
/local.properties
/.idea/*
.DS_Store
/build
.project
.settings
/captures
/SettingsLib/CollapsingToolbarBaseActivity/*
!/SettingsLib/CollapsingToolbarBaseActivity/README.md
!/SettingsLib/CollapsingToolbarBaseActivity/build.gradle
/SettingsLib/FooterPreference/*
!/SettingsLib/FooterPreference/README.md
!/SettingsLib/FooterPreference/build.gradle
/SettingsLib/IllustrationPreference/*
!/SettingsLib/IllustrationPreference/README.md
!/SettingsLib/IllustrationPreference/build.gradle
/SettingsLib/MainSwitchPreference/*
!/SettingsLib/MainSwitchPreference/README.md
!/SettingsLib/MainSwitchPreference/build.gradle
/SettingsLib/SettingsTheme/*
!/SettingsLib/SettingsTheme/README.md
!/SettingsLib/SettingsTheme/build.gradle
/SettingsLib/Utils/*
!/SettingsLib/Utils/README.md
!/SettingsLib/Utils/build.gradle
