/fwb
!/.gitignore
!/fetch.sh
/CollapsingToolbarBaseActivity/*
!/CollapsingToolbarBaseActivity/build.gradle
/Color/*
!/Color/build.gradle
/FooterPreference/*
!/FooterPreference/build.gradle
/IllustrationPreference/*
!/IllustrationPreference/build.gradle
/MainSwitchPreference/*
!/MainSwitchPreference/build.gradle
/SettingsFlags/*
!/SettingsFlags/build.gradle
!/SettingsFlags/src/
/SettingsTheme/*
!/SettingsTheme/build.gradle
/SettingsThemeFlags/*
!/SettingsThemeFlags/build.gradle
!/SettingsThemeFlags/src/
/SliderPreference/*
!/SliderPreference/build.gradle
