# RIL
on boot
    enable vendor.qcrild
    enable vendor.qcrild2

on property:vendor.subsys_state_notifier.modem.state=OFFLINE
    stop vendor.qcrild
    stop vendor.qcrild2

on property:vendor.subsys_state_notifier.modem.state=ONLINE
    start vendor.qcrild
    start vendor.qcrild2

on property:init.svc.vendor.qcrild=stopped
    stop vendor.radio-config-1-1-wrapper

on init
    chown wifi wifi /sys/module/wlan/parameters/fwpath

on post-fs-data
    mkdir /data/vendor/qcam 0770 camera camera

# Restart camera provider after vendor.qcamerasvr is running
on property:init.svc.vendor.qcamerasvr=running
    exec /bin/sleep 1s
    restart vendor.camera.provider

service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class early_hal
    user root
    group root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=rolex
    setprop vendor.audio.mixer_xml.path /vendor/etc/rolex_mixer_paths_qrd_sku2.xml
    restart vendor.audio-hal

on property:ro.vendor.xiaomi.device=riva
    setprop vendor.audio.mixer_xml.path /vendor/etc/riva_mixer_paths_qrd_sku2.xml
    restart vendor.audio-hal

# Charger
on property:ro.bootmode=charger && property:init.svc.vendor.qcom-post-boot=stopped
    # Lock to lowest frequency on charger mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

    # Offline all cores except cpu0
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0

# Camera
on early-init
    # LED
    chown cameraserver root /sys/class/leds/flashlight/brightness
    chown cameraserver root /sys/class/leds/flashlight/max_brightness
    chown cameraserver root /sys/class/leds/flashlight/trigger

# IR
on init
    # LED
    chown system system /sys/class/leds/infrared/transmit
    chown system system /sys/class/leds/infrared/brightness
    # lirc
    chown system system /dev/lirc0
    # spidev
    chown system system /dev/spidev7.1

on early-boot && property:ro.vendor.xiaomi.device=rolex
    setprop ro.hardware.consumerir led

on early-boot && property:ro.vendor.xiaomi.device=riva
    setprop ro.hardware.consumerir spidev

# GPS
on property:persist.sys.xtra-daemon.enabled=*
    restart loc_launcher

# LiveDisplay
on boot
    chown root root /sys/devices/virtual/graphics/fb0/cabc
    chmod 0000 /sys/devices/virtual/graphics/fb0/cabc
    chown root root /sys/devices/virtual/graphics/fb0/hbm
    chmod 0000 /sys/devices/virtual/graphics/fb0/hbm


# Netmgrd
on post-fs
    mount none /vendor/etc/data/netmgr_config_override.xml /vendor/etc/data/netmgr_config.xml bind

# Sensors
service vendor-sensor-sh /vendor/bin/init.qcom.sensors.sh
    override
    class core
    user root
    oneshot
    disabled

on property:ro.vendor.xiaomi.device=rolex
    mount none /vendor/etc/sensors/rolex_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    enable vendor-sensor-sh
on property:ro.vendor.xiaomi.device=riva
    mount none /vendor/etc/sensors/riva_sensor_def_qcomdev.conf /vendor/etc/sensors/sensor_def_qcomdev.conf bind
    enable vendor-sensor-sh

# SDHCI
on early-fs
    write /sys/kernel/sdhci_msm/add_host 1
    wait /dev/block/platform/soc/7824900.sdhci/by-name/modem

on boot && property:ro.boot.bootdevice=7864900.sdhci
    symlink /dev/block/platform/soc/7824900.sdhci/by-name/modemst1 /dev/block/bootdevice/by-name/modemst1
    symlink /dev/block/platform/soc/7824900.sdhci/by-name/modemst2 /dev/block/bootdevice/by-name/modemst2
    symlink /dev/block/platform/soc/7824900.sdhci/by-name/fsc /dev/block/bootdevice/by-name/fsc
    symlink /dev/block/platform/soc/7824900.sdhci/by-name/fsg /dev/block/bootdevice/by-name/fsg

# USB
on property:ro.product.vendor.model=*
    setprop vendor.usb.product_string ${ro.product.vendor.model}

on property:sys.boot_completed=1 && property:vendor.usb.uvc.function.init=1
    write /config/usb_gadget/g1/functions/uvc.0/streaming_maxpacket ${vendor.usb.uvc.payload_transfer_size}

    rm /config/usb_gadget/g1/functions/uvc.0/streaming/class/fs/h1
    rm /config/usb_gadget/g1/functions/uvc.0/streaming/class/hs/h1
    rm /config/usb_gadget/g1/functions/uvc.0/streaming/header/h/u
    rm /config/usb_gadget/g1/functions/uvc.0/streaming/header/h1/u1
    rmdir /config/usb_gadget/g1/functions/uvc.0/streaming/mjpeg/m1/720p
    #rmdir /config/usb_gadget/g1/functions/uvc.0/streaming/mjpeg/m1/1080p
    symlink /config/usb_gadget/g1/functions/uvc.0/streaming/header/h1 /config/usb_gadget/g1/functions/uvc.0/streaming/class/fs/h1
    symlink /config/usb_gadget/g1/functions/uvc.0/streaming/header/h1 /config/usb_gadget/g1/functions/uvc.0/streaming/class/hs/h1

on property:sys.boot_completed=1
    restart time_daemon

    # Defaults for power hints
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_trigger_count 3
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hist_memory 20
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/hyst_length 10
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/sample_ms 4
    write /sys/class/devfreq/soc:qcom,cpubw/bw_hwmon/io_percent 20
