service vendor.xiaomi_device_script /vendor/bin/init.xiaomi.device.sh
    class main
    user root
    oneshot

# Audio
on property:ro.vendor.xiaomi.device=rolex
    mount none /vendor/etc/rolex_mixer_paths_qrd_sku2.xml /vendor/etc/mixer_paths_qrd_sku2.xml bind
    restart vendor.audio-hal

on property:ro.vendor.xiaomi.device=riva
    mount none /vendor/etc/riva_mixer_paths_qrd_sku2.xml /vendor/etc/mixer_paths_qrd_sku2.xml bind
    restart vendor.audio-hal
