on boot
   # Battery life saver
   chown system system /sys/class/power_supply/battery/charging_enabled
   chmod 0666 /sys/class/power_supply/battery/charging_enabled
   chown system system /sys/class/power_supply/battery/capacity
   chmod 0666 /sys/class/power_supply/battery/capacity
   chown system system /sys/class/power_supply/battery/temp
   chmod 0666 /sys/class/power_supply/battery/temp

on property:sys.boot_completed=1
    # Audio gain permissions
    chown system system /sys/kernel/sound_control/headphone_gain
    chown system system /sys/kernel/sound_control/speaker_gain
    chown system system /sys/kernel/sound_control/mic_gain
    restorecon_recursive /sys/kernel/sound_control
    chmod 0660 /sys/kernel/sound_control/headphone_gain
    chmod 0660 /sys/kernel/sound_control/speaker_gain
    chmod 0660 /sys/kernel/sound_control/mic_gain
