*.iml
.classpath
.gradle
/local.properties
/.idea/*
.DS_Store
/build
.project
.settings
/captures
/lineage-sdk/sdk/*
!/lineage-sdk/sdk/src/
!/lineage-sdk/sdk/build.gradle
/SettingsLib/CollapsingToolbarBaseActivity/*
!/SettingsLib/CollapsingToolbarBaseActivity/README.md
!/SettingsLib/CollapsingToolbarBaseActivity/build.gradle
/SettingsLib/FooterPreference/*
!/SettingsLib/FooterPreference/README.md
!/SettingsLib/FooterPreference/build.gradle
/SettingsLib/LayoutPreference/*
!/SettingsLib/LayoutPreference/README.md
!/SettingsLib/LayoutPreference/build.gradle
/SettingsLib/SettingsTheme/*
!/SettingsLib/SettingsTheme/README.md
!/SettingsLib/SettingsTheme/build.gradle
/SettingsLib/Utils/*
!/SettingsLib/Utils/README.md
!/SettingsLib/Utils/build.gradle
