<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="android.overlay.lineage.xiaomi.rolex"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="lineageos.platform"
                android:requiredSystemPropertyName="ro.vendor.xiaomi.device"
		android:requiredSystemPropertyValue="rolex"
		android:priority="800"
		android:isStatic="true" />
</manifest>
