<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="com.github.iusmac.sevensim"
    android:sharedUserId="android.uid.system">

    <uses-feature android:name="android.hardware.telephony" android:required="true"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_DEVICE_CONFIG" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".SevenSimApplication"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:appCategory="accessibility"
        android:requiredForAllUsers="true"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:enableOnBackInvokedCallback="true"
        android:theme="@style/Theme.SubSettingsBase"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <!--
                    Note that, the LauncherActivity is the desired "front-door" activity to be shown
                    in the launcher's app list. Under the hood, the LauncherActivity proxies this
                    activity because it can be disabled to hide the launcher icon in the launcher's
                    app list. Once the LauncherActivity component is disabled through
                    PackageManager.setComponentEnabledSetting(), the app effectively becomes useless
                    and unavailable anywhere. This puts the user in a situation where they are left
                    with no choice but to do a complete app reinstall or, in the case of
                    pre-installed app in the device's system partition as part of the ROM, even
                    resort to a factory reset. To avoid this issue, we must make this activity
                    resolvable via Intent.CATEGORY_INFO in the system built-in Settings app when
                    viewing App Info for this application. -->
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.sim.SimListActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".ui.license.LicenseActivity"
            android:label="@string/license_title"
            android:exported="false">
        </activity>

        <activity
            android:name=".ui.preferences.PreferenceListActivity"
            android:label="@string/preference_list_title"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".SystemBroadcastReceiver"
            android:exported="false"
            androidprv:systemUserOnly="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".launcher.QsAppLauncherTileService"
            android:description="@string/app_description"
            android:icon="@drawable/ic_qs_sim_icon"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE" android:value="true"/>
        </service>

        <service
            android:name=".launcher.LauncherIconVisibilityChangerService"
            android:stopWithTask="false"
            android:exported="false">
        </service>

        <receiver
            android:name=".scheduler.AlarmReceiver"
            android:exported="false"
            android:directBootAware="true"
            androidprv:systemUserOnly="true">
        </receiver>

        <receiver
            android:name=".DirectBootAwareBroadcastReceiver"
            android:exported="true"
            android:directBootAware="true"
            androidprv:systemUserOnly="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
                <action android:name="android.telephony.action.CARRIER_CONFIG_CHANGED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".ForegroundService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:directBootAware="true">
        </service>

        <activity
            android:name=".ui.scheduler.SchedulerActivity"
            android:exported="false">
        </activity>

        <service
            android:name=".PhoneCallEndObserverService"
            android:exported="false"
            android:foregroundServiceType="systemExempted"
            android:directBootAware="true">
        </service>

        <activity
            android:name=".ui.AuthenticationPromptActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <service
            android:name=".UserAuthenticationObserverService"
            android:exported="false"
            android:foregroundServiceType="systemExempted">
        </service>
    </application>
</manifest>
