/fwb
!/.gitignore
!/fetch.sh
!/BannerMessagePreference/
/BannerMessagePreference/*
!/BannerMessagePreference/build.gradle
!/ButtonPreference/
/ButtonPreference/*
!/ButtonPreference/build.gradle
!/CollapsingToolbarBaseActivity/
/CollapsingToolbarBaseActivity/*
!/CollapsingToolbarBaseActivity/build.gradle
!/LayoutPreference/
/LayoutPreference/*
!/LayoutPreference/build.gradle
!/SettingsTheme/
/SettingsTheme/*
!/SettingsTheme/build.gradle
!/TwoTargetPreference/
/TwoTargetPreference/*
!/TwoTargetPreference/build.gradle
/SettingsThemeFlags/*
!/SettingsThemeFlags/build.gradle
!/SettingsThemeFlags/src/
